.logo img{
    width: 225px;
}

.navbar-brand{
    padding: 5px;
}
.white{color:white;}
ul li {
    list-style: circle;
    padding: 0;
    margin: 0 0 2px 0;
}

a, a:hover, a:active, a:focus{
    color: black;
    text-decoration: none;
}

label{
    margin-bottom: 10px;
}

.card{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    border-bottom: 1px solid #ac1e47;
    margin: 10px 0;
    padding-bottom: 10px;
}

.card .leftPart{
}

.card .rightPart{
    position: relative;
    padding: 10px 35px 10px 10px;
}

.card .product_image{
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FFF;
}

.card .product_image.un{background-image: url("../images/index/un.png");}
.card .product_image.deux{background-image: url("../images/index/deux.png");}
.card .product_image.trois{background-image: url("../images/index/trois.png");}
.card .product_image.quatre{background-image: url("../images/index/quatre.png");}
.card .product_image.cinq{background-image: url("../images/index/cinq.png");}

.card .title{
    font-size: 20px;
    margin-bottom: 5px;
    color: #ac1e47;
}

.card ul{
    margin-left: 30px;
}

.card .fa-angle-right{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #ac1e47;
}

.card .distance{
    position: absolute;
    top: 12px;
    right: 0;
    background-color: #FFF;
    padding: 2px 5px;
    font-size: 12px;
    color: #f06055;
}

.page_panier .title, .page_title{
    font-size: 25px;
    text-align: center;
    margin: 10px 0;
    color: #ac1e47;
}

.page_panier .img_banner_container{
    width: 100%;
    height: 150px;
    background-image: url("../images/index/un.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.page_panier .price{
    font-size: 18px;
}

.page_panier .producteurs{margin-top: 15px;}

.page_panier ul{
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.page_panier #map{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}